@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }
  .delay-500 {
    animation-delay: 0.5s;
  }
  a {
    transition: all 0.2s ease-in-out;
  }
  /* animation for posts grid */